.sign-in {
    width: 26vw;
    display: flex;
    flex-direction: column;
    .group {
        margin: 10px 0px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}