.cart-icon {
  width: 110px;
  position: relative;
  display: flex;
  padding-left: 1vw;
  margin: auto;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 9px;
    padding-left: 9px;
  }
}
