.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      margin: -0.5em 1em 0px 2em;
      width: 100px;
      height: 100px;
    }
  
    .options {
      width: 88%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
      }

      .pointer {
        cursor: pointer;
      }

      .pointer:hover {
        color: grey;
        text-decoration: underline;
      }
    }
  }
  